
<section id="head">
    <div class="top">
        <div class="container">
            <div class="row">
                <div id="left">Hotline : 01658022219</div>
                <div id="right">
                <a href="#"> Đăng Nhập</a>
                    <a>||</a>
                <a href="#"> Đăng Ký</a>
                 </div>
            </div>
        </div>
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-1 logo"><a href="/"><img src="images/logo2.jpg" alt=" Logo" /></a></div>
                <ul class="col-md-9 menu">
                    <li><a class="upper" href="">Trang chủ</a></li>
                    <li><a class="upper" href="">Giới thiệu</a></li>
                    <li><a class="upper" href="">Sản phẩm</a></li>
                    <li><a class="upper" href="">Tin tức</a></li>
                    <li><a class="upper" href="">Liên hệ</a></li>
                </ul>
                <div class="col-md-2 action">
                    <a href="" class="btn-action btn-search"><i class="fa fa-search" aria-hidden="true"></i></a>
                    <a href="" class="btn-action btn-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>

</section><!-- End header -->

<!-- Section Home News -->
<div class="pages">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="/" target="_self">Trang chủ</a>
            </li>
        </ul>
    </div>

    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3 pitem">
                    <div  class="img-container">
                        <a href="product-detail.html">
                            <img src="images/iphonexs.jpg" alt="Sản phẩm" />
                            <span class="sale">-15%</span>

                        </a>
                        <div class="actions">
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="info">
                        <a href="#"><h3 class="upper">IphoneXS MAX</h3></a>
                        <span class="upper price">24.9900.000 <sup>đ</sup></span>
                        <span class="upper old-price">26.990.000 <sup>đ</sup></span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 pitem">
                    <div  class="img-container">
                        <a href="product-detail.html">
                            <img src="images/iphonexs.jpg" alt="Sản phẩm" />
                            <span class="sale">-15%</span>
                        </a>
                        <div class="actions">
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="info">
                        <a href="#"><h3 class="upper">IphoneXS MAX</h3></a>
                        <span class="upper price">24.9900.000 <sup>đ</sup></span>
                        <span class="upper old-price">26.990.000 <sup>đ</sup></span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 pitem">
                    <div  class="img-container">
                        <a href="product-detail.html">
                            <img src="images/iphonexs.jpg" alt="Sản phẩm" />
                            <span class="sale">-15%</span>
                        </a>
                        <div class="actions">
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="info">
                        <a href="#"><h3 class="upper">IphoneXS MAX</h3></a>
                        <span class="upper price">24.9900.000 <sup>đ</sup></span>
                        <span class="upper old-price">26.990.000 <sup>đ</sup></span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 pitem">
                    <div  class="img-container">
                        <a href="product-detail.html">
                            <img src="images/iphonexs.jpg" alt="Sản phẩm" />
                            <span class="sale">-15%</span>
                        </a>
                        <div class="actions">
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="info">
                        <a href="#"><h3 class="upper">IphoneXS MAX</h3></a>
                        <span class="upper price">24.9900.000 <sup>đ</sup></span>
                        <span class="upper old-price">26.990.000 <sup>đ</sup></span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 pitem">
                    <div  class="img-container">
                        <a href="product-detail1.html">
                            <img src="images/iphone8.jpg" alt="Sản phẩm" />
                            <span class="sale">-20%</span>
                        </a>
                        <div class="actions">
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="info">
                        <a href="#"><h3 class="upper">Iphone8+</h3></a>
                        <span class="upper price">20.000.000 <sup>đ</sup></span>
                        <span class="upper old-price">18.000.000 <sup>đ</sup></span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 pitem">
                    <div  class="img-container">
                        <a href="product-detail1.html">
                            <img src="images/iphone8.jpg" alt="Sản phẩm" />
                            <span class="sale">-20%</span>
                        </a>
                        <div class="actions">
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="info">
                        <a href="#"><h3 class="upper">Iphone8+</h3></a>
                        <span class="upper price">20.000.000 <sup>đ</sup></span>
                        <span class="upper old-price">18.000.000 <sup>đ</sup></span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 pitem">
                    <div  class="img-container">
                        <a href="product-detail1.html">
                            <img src="images/iphone8.jpg" alt="Sản phẩm" />
                            <span class="sale">-20%</span>
                        </a>
                        <div class="actions">
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="info">
                        <a href="#"><h3 class="upper">Iphone8+</h3></a>
                        <span class="upper price">20.000.000 <sup>đ</sup></span>
                        <span class="upper old-price">18.000.000 <sup>đ</sup></span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 pitem">
                    <div  class="img-container">
                        <a href="product-detail1.html">
                            <img src="images/iphone8.jpg" alt="Sản phẩm" />
                            <span class="sale">-20%</span>
                        </a>
                        <div class="actions">
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="info">
                        <a href="#"><h3 class="upper">Iphone8+</h3></a>
                        <span class="upper price">20.000.000 <sup>đ</sup></span>
                        <span class="upper old-price">18.000.000 <sup>đ</sup></span>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4">
                <h4 class="upper title-foot">Giới thiệu về chúng tôi</h4>
                <p style="text-align: justify">Mang đến cho bạn những lựa chọn tốt nhất có thể chúng tôi đảm bảo sẽ đưa đến cho Quý khách những lựa chọn tốt nhất, Phù hợp nhất đối với từng nhu cầu của Quý khách. Hân hạnh được phục vụ Quý khác! </p><br/>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <h4 class="upper title-foot">Liên hệ</h4>
                <p>Địa chỉ: 45 Đường Lý Thường Kiệt, Phường 25, TP.Hồ Chí Minh</p>
                <p>Điện thoại: 08560221167</p>
                <p>Email: Huynhtansy.contact@gmail.com</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2">
                <h4 class="upper title-foot">Dịch vụ</h4>
                <p><a href="#">Iphone XS MAX</a></p>
                <p><a href="#">Iphone 8</a></p>
                <p><a href="#">Iphone 8+</a></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2">
                <h4 class="upper title-foot">Fanpage</h4>
                <p>Điện thoại giá tốt - Đến và cảm nhận</p>
            </div>
        </div>
        <div class="row">
            <p class="pull-left">© TANSY . All rights reserved</p>
            <ul class="pull-right social">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</section>