<!DOCTYPE html>
<html>
<head>
  <title>APPLESTORE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Trang danh sách sản phẩm </title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="javascripts/script.js"></script>

</head>
<body>

<section id="head">
  <div class="top">
    <div class="container">
      <div class="row">
        <div id="left">Hotline : 01658022219</div>
        <div class="pull-right user">
          <a href="#"><i class="fa fa-lock" aria-hidden="true"></i> Đăng Nhập</a>
          <a href="#"><i class="fa fa-get-pocket" aria-hidden="true"></i> Đăng Ký</a>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-1 logo"><a href="/"><img src="images/logo2.jpg" alt=" Logo" /></a></div>
          <ul class="col-md-9 menu">
            <ul class="nav">
              <li><a href="#">Trang Chủ</a></li>
              <li>
                <a href="#">Sản Phẩm</a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">Apple</a>
                    <ul class="sub-menu">
                      <li><a href="/cart">IphoneXSMAX</a></li>
                      <li><a href="#">Iphone8</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Samsung</a>
                    <ul class="sub-menu">
                      <li><a href="#">SamsungNote10</a></li>
                    </ul>
                  </li>

                </ul>
              </li>
              <li><a href="#">Giới Thiệu</a></li>
              <li><a href="#">Liên hệ</a></li>
            </ul>
          </ul>
          <div class="col-md-2 action">
            <a href="" class="btn-action btn-search"><i class="fa fa-search" aria-hidden="true"></i></a>
            <a href="" class="btn-action btn-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
        </ul>
        <div class="search">
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Nhâp tên sản phẩm cần tìm ..." title="Type in a name">
          <ul id="myUL">
            <li><a href="#">Apple</a></li>
            <li><a href="#">SamSung</a></li>

            <li><a href="#">Iphone XS Max</a></li>
            <li><a href="#">Iphone 8</a></li>

            <li><a href="#">SamSung Note 10</a></li>
          </ul>
        </div>
      </div>
    </div>

</section><!-- End header -->

<!-- Section Home News -->
<div class="pages">
  <div class="container">
    <ul class="breadcrumb">
      <li>
        <a href="/" target="_self">Trang chủ</a>
      </li>
    </ul>
  </div>

  <section id="news">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3 pitem">
          <div  class="img-container">
            <a href="product-detail.html">
              <img src="images/iphonexs.jpg" alt="Sản phẩm" />
              <span class="sale">-15%</span>

            </a>
            <div class="actions">
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="info">
            <a href="#"><h3 class="upper">Iphone XS MAX</h3></a>
            <span class="upper price">22.9900.000 <sup>đ</sup></span>
            <span class="upper old-price">26.990.000 <sup>đ</sup></span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 pitem">
          <div  class="img-container">
            <a href="product-detail.html">
              <img src="images/iphonexs.jpg" alt="Sản phẩm" />
              <span class="sale">-15%</span>
            </a>
            <div class="actions">
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="info">
            <a href="#"><h3 class="upper">Iphone XS MAX</h3></a>
            <span class="upper price">22.9900.000 <sup>đ</sup></span>
            <span class="upper old-price">26.990.000 <sup>đ</sup></span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 pitem">
          <div  class="img-container">
            <a href="product-detail.html">
              <img src="images/iphonexs.jpg" alt="Sản phẩm" />
              <span class="sale">-15%</span>
            </a>
            <div class="actions">
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="info">
            <a href="#"><h3 class="upper">Iphone XS MAX</h3></a>
            <span class="upper price">22.9900.000 <sup>đ</sup></span>
            <span class="upper old-price">26.990.000 <sup>đ</sup></span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 pitem">
          <div  class="img-container">
            <a href="product-detail.html">
              <img src="images/iphonexs.jpg" alt="Sản phẩm" />
              <span class="sale">-15%</span>
            </a>
            <div class="actions">
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="info">
            <a href="#"><h3 class="upper">Iphone XS MAX</h3></a>
            <span class="upper price">22.9900.000 <sup>đ</sup></span>
            <span class="upper old-price">26.990.000 <sup>đ</sup></span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 pitem">
          <div  class="img-container">
            <a href="product-detail1.html">
              <img src="images/iphone8.jpg" alt="Sản phẩm" />
              <span class="sale">-20%</span>
            </a>
            <div class="actions">
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="info">
            <a href="#"><h3 class="upper">Iphone 8</h3></a>
            <span class="upper price">20.000.000 <sup>đ</sup></span>
            <span class="upper old-price">16.000.000 <sup>đ</sup></span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 pitem">
          <div  class="img-container">
            <a href="product-detail1.html">
              <img src="images/iphone8.jpg" alt="Sản phẩm" />
              <span class="sale">-20%</span>
            </a>
            <div class="actions">
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="info">
            <a href="#"><h3 class="upper">Iphone 8</h3></a>
            <span class="upper price">20.000.000 <sup>đ</sup></span>
            <span class="upper old-price">16.000.000 <sup>đ</sup></span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 pitem">
          <div  class="img-container">
            <a href="product-detail1.html">
              <img src="images/iphone8.jpg" alt="Sản phẩm" />
              <span class="sale">-20%</span>
            </a>
            <div class="actions">
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="info">
            <a href="#"><h3 class="upper">Iphone 8</h3></a>
            <span class="upper price">20.000.000 <sup>đ</sup></span>
            <span class="upper old-price">16.000.000 <sup>đ</sup></span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 pitem">
          <div  class="img-container">
            <a href="product-detail1.html">
              <img src="images/iphone8.jpg" alt="Sản phẩm" />
              <span class="sale">-20%</span>
            </a>
            <div class="actions">
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="info">
            <a href="#"><h3 class="upper">Iphone 8</h3></a>
            <span class="upper price">20.000.000 <sup>đ</sup></span>
            <span class="upper old-price">16.000.000 <sup>đ</sup></span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 pitem">
          <div  class="img-container">
            <a href="product-detail1.html">
              <img src="images/samsung.jpg" alt="Sản phẩm" />
              <span class="sale">-20%</span>
            </a>
            <div class="actions">
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="info">
            <a href="#"><h3 class="upper">Samsung Note 10</h3></a>
            <span class="upper price">20.000.000 <sup>đ</sup></span>
            <span class="upper old-price">16.000.000 <sup>đ</sup></span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 pitem">
          <div  class="img-container">
            <a href="product-detail1.html">
              <img src="images/samsung.jpg" alt="Sản phẩm" />
              <span class="sale">-20%</span>
            </a>
            <div class="actions">
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="info">
            <a href="#"><h3 class="upper">Samsung Note 10</h3></a>
            <span class="upper price">20.000.000 <sup>đ</sup></span>
            <span class="upper old-price">16.000.000 <sup>đ</sup></span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 pitem">
          <div  class="img-container">
            <a href="product-detail1.html">
              <img src="images/samsung.jpg" alt="Sản phẩm" />
              <span class="sale">-20%</span>
            </a>
            <div class="actions">
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="info">
            <a href="#"><h3 class="upper">Samsung Note 10</h3></a>
            <span class="upper price">20.000.000 <sup>đ</sup></span>
            <span class="upper old-price">16.000.000 <sup>đ</sup></span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 pitem">
          <div  class="img-container">
            <a href="product-detail1.html">
              <img src="images/samsung.jpg" alt="Sản phẩm" />
              <span class="sale">-20%</span>
            </a>
            <div class="actions">
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="info">
            <a href="#"><h3 class="upper">Samsung Note 10</h3></a>
            <span class="upper price">20.000.000 <sup>đ</sup></span>
            <span class="upper old-price">16.000.000 <sup>đ</sup></span>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-4">
        <h4 class="uppertitle-foot">Giới thiệu về chúng tôi</h4>
        <p style="text-align: justify">Mang đến cho bạn những lựa chọn tốt nhất có thể chúng tôi đảm bảo sẽ đưa đến cho Quý khách những lựa chọn tốt nhất, Phù hợp nhất đối với từng nhu cầu của Quý khách. Hân hạnh được phục vụ Quý khách! </p><br/>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4">
        <h4 class="uppertitle-foot">Liên hệ</h4>
        <p>Địa chỉ: 45 Lý Thường Kiệt, Phường 25, Quận 10,TP.Hồ Chí Minh</p>
        <p>Điện thoại: 01658022219</p>
        <p>Email: chauvannhat.contact@gmail.com</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2">
        <h4 class="uppertitle-foot">Dịch vụ</h4>
        <p><a href="#">Iphone XS MAX</a></p>
        <p><a href="#">Iphone 8</a></p>
        <p><a href="#">Samsung Note 10</a></p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2">
        <h4 class="uppertitle-foot">Fanpage</h4>
        <p>Điện thoại giá tốt - Đến và cảm nhận</p>
      </div>
    </div>
    <div class="row">
      <p class="pull-left">© APPLESTORE . All rights reserved</p>
      <ul class="pull-right social">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</section>

</body>
</html>