extends layout


block content

// Section Home News
.pages
  .container
    ul.breadcrumb
      li
        a(href='/api', target='_self') Trang Chủ
  section#news
    .container
      .row
        .col-xs-6.col-sm-3.pitem
          .img-container
            a(href='/api/iphonesxmax')
              img(src='images/iphonexs.jpg', alt='Sản phẩm')
              span.sale -15%
            .actions
              a(href='#')
                i.fa.fa-star(aria-hidden='true')
              a(href='#')
                i.fa.fa-cart-plus(aria-hidden='true')
          .info
            a(href='/api/iphonesxmax')
              h3.upper Iphone XS MAX
            span.upper.price
              | 22.9900.000
              sup đ
            span.upper.old-price
              | 26.990.000
              sup đ
        .col-xs-6.col-sm-3.pitem
          .img-container
            a(href='/api/iphonesxmax')
              img(src='images/iphonexs.jpg', alt='Sản phẩm')
              span.sale -15%
            .actions
              a(href='#')
                i.fa.fa-star(aria-hidden='true')
              a(href='#')
                i.fa.fa-cart-plus(aria-hidden='true')
          .info
            a(href='#')
              h3.upper Iphone XS MAX
            span.upper.price
              | 22.9900.000
              sup đ
            span.upper.old-price
              | 26.990.000
              sup đ

        .col-xs-6.col-sm-3.pitem
          .img-container
            a(href='/api/iphone8')
              img(src='images/iphone8.jpg', alt='Sản phẩm')
              span.sale -20%
            .actions
              a(href='#')
                i.fa.fa-star(aria-hidden='true')
              a(href='#')
                i.fa.fa-cart-plus(aria-hidden='true')
          .info
            a(href='#')
              h3.upper Iphone 8
            span.upper.price
              | 20.000.000
              sup đ
            span.upper.old-price
              | 16.000.000
              sup đ
