.bg-light.py-3
  .container
    .row
      .col-md-12.mb-0
        a(href='/') Trang chủ
        span.mx-2.mb-0 /
        strong.text-black {{title}}
.site-section
  .container
    .row.justify-content-center
      .col-md-6.mb-5.mb-md-0
        h2.h3.mb-3.text-black {{title}}
        .p-3.p-lg-5.border
          .form-group.row
            .col-sm
              label.text-black(for='c_email') Địa chỉ email
              input#c_email.form-control(type='email', name='c_email', placeholder='Email')
          .form-group.row
            .col-md
              button.btn.btn-primary.btn-lg.py-3.btn-block(onclick="window.location='/'") Gửi lại mật khẩu
