.bg-light.py-3
  .container
    .row
      .col-md-12.mb-0
        a(href='/api') Trang chủ
        span.mx-2.mb-0 /
        strong.text-black Đăng kí
.site-section
  .container
    .row.justify-content-center
      .col-md-6.mb-5.mb-md-0
        h2.h3.mb-3.text-black Đăng Kí
        .p-3.p-lg-5.border
          #error-message.ui-state-error
          form(method='post')
            .form-group.row.mb-5
              .col-md
                label.text-black(for='email')
                  | Địa chỉ email
                  span.text-danger *
                input#email.form-control(type='email', name='email')
            .form-group.row.mb-5
                .col-md
                    label.text-black(for='account')
                      | Tên đăng nhập
                      span.text-danger *
                    input#email.form-control(type='account', name='account')
            .form-group.row.mb-5
              .col-md
                label.text-black(for='password')
                  | Mật khẩu
                  span.text-danger *
                input#password.form-control(type='password', name='password')
            .form-group.row
              .col-md
                input#register.btn.btn-primary.btn-lg.py-3.btn-block(type='submit', value='TẠO TÀI KHOẢN')
