<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <title>1612183_1612460_1612658_ĐAGK</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <h2>WEBSITE QUẢN TRỊ</h2>
  <div class="container">

    <div class="row">
    <div class="col-3"><a href="/TaiKhoan"><button>Quản lí tài khoản</button></a></div>
    <div class="col-3"><a href="/GianHang"><button>Quản lí gian hàng</button></a></div>
    <div class="col-3"><a href="/DonHang"><button>Quản lí đơn hàng</button></a></div>
    <div class="col-3"><a href="/ThongKe"><button>Thống kê</button></a></div>
    </div>

  </div>
</body>
</html>
