<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="javascripts/QLGianHang_js.js"></script>
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <title>QL Gian Hàng</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<h2>QUẢN LÝ HỆ THỐNG GIAN HÀNG</h2>
  <div class="container">
    <div class="row">
    <div class="col-6">
    <table id="tableGH" class="table table-hover">
      <thead>
        <tr>
          <th>Tên gian hàng</th> <th>Chủ gian hàng</th> <th>Ngày tạo</th> <th>Địa chỉ</th>
        </tr>
      </thead>
      <tbody>
        <tr onclick="clickRow(this)">
          <td>Thinh Store</td> <td>nguyenthinh</td> <td>9/9/2019</td> <td>123 đường 456</td>
        </tr>
        <tr onclick="clickRow(this)">
          <td>Store Of Hien</td> <td>dieuhien</td> <td>8/8/2018</td> <td>789 đường 123</td>
        </tr>
        <tr onclick="clickRow(this)">
          <td>Cửu Hàng Văn Nhật</td> <td>vannhat</td> <td>7/7/2017</td> <td>456 đường 789</td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="col-6">
    <table id="tableSP" class="table table-hover"style="display:none">
      <thead>
        <tr>
          <th>Tên Sản Phẩm</th> <th>Số lượng</th> <th>Ngày thêm</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Iphone 11</td> <td>20</td> <td>1/1/2019</td>
        </tr>
        <tr>
          <td>Iphone 12</td> <td>30</td> <td>1/1/2018</td>
        </tr>
        <tr>
          <td>Iphone 13</td> <td>10</td> <td>1/1/2017</td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
  </div>
</body>
</html>
